@page "/cidades/remover"

<h4>Remover Cidades</h4>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="form-group mb-12">
                    <label>Id</label>
                    <input type="text" name="id" class="form-control">
                </div>
            </div>
            <div class="col-md-12 text-right">
                <button class="btn btn-danger" onclick="window.location.href='/cidades'">Cancelar</button>
                <button class="btn btn-success" onclick="remover();">Salvar</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/pages/cidade_Remover.js"></script>
}
