@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>GitHub:<a href="https://github.com/wesley-dev-sousa/aspnet-project2/tree/main">Wesley-dev-sousa</a>.</p>
</div>
